<div class='hero'>
    <ul class=nav-links>
        <a href=''><li>About</li></a>
        <a href=''><li>Sign In</li></a>
    </ul> 
    <div class='title'>
        <h1>Store and visualize your travel <br> memories in <span>one place.</span></h1>
        <a class='button' href='#/login'>Sign Up for free</a>
    </div>
</div>
<div class='info'>
    <i class="fa fa-compass"></i>
    <h1>Travel Timeline lets you create an <br> <span>ongoing record</span> of your adventures.</h1>
    <p>Create an account, add new trips, and build an epic "timeline" of pictures <br> and stories you won't want to forget. Then come back often to relive your <br> greatest moments and plan your next adventure. <a href=''>Get started now</a> → </p>
    <img src='images/swisa.jpg' />
</div>

<footer>
    <p><strong>"We travel not to escape life, but for life not to <span>escape us</span>."</strong> If you're <br> looking for a sign to do something new, this is it.  </p>
    <a class='button' href='#/login'>Get started now</a>
    <img src='images/line.png'/>
    <div class='link-container'>
        <div class='links'>
            <a class='flinks' href=''>About</a>
            <a class='flinks' href=''>Privacy Policy</a>
            <a class='flinks' href=''>Sign Up</a>
            <a class='flinks' href=''>Login</a>
        </div>
    </div>
</footer>