<div class='nav'>
    <div class='logo'>
    </div>
</div>
<div class='container'>
    <div class='form-content'>
        <h3><span>SIGN UP</span> FOR TRAVEL TIMELINE</h3>
        <input type='text' placeholder='username...' />
        <br>
        <input type='text' placeholder='password...' />
        <br>
        <a href='#/dashboard'>CREATE MY ACCOUNT</a>
        <p>Have an account? <span>Log in</span>.</p>
<!--
        <a href=''><i class="fa fa-google"></i></a>
        <a href=''><i class="fa fa-facebook-official"></i></a>
-->
    </div>
    <br>
</div>
