<div class='nav'>
    <div class='logo'>
        <h3>TRAVEL TIMELINE</h3>
    </div>
    <div class='dash-links'>
        <a href='#/'>Log out</a>
        <a href='#/bucket-list'>Bucket list</a>
    </div>
</div>

<cover-image></cover-image>

<div class='tripModules'>
    
    <div class='descriptionBox'>
        <h3>Trip Description</h3>
        <div class='upload' ng-hide='visible'>
            <div class='description-form' ng-show='descriptionEditor'>
                <textarea rows="7" cols="50" type='text' placeholder="Write a little something about your trip..." ng-model='tripDescription'></textarea>
                <a ng-click='toggleDescription(); toggleEditor()' href=''>POST DESCRIPTION</a>
            </div>
            <br>
            <a ng-click='toggleEditor()' href='' ng-hide='descriptionEditor'>ADD DESCRIPTION</a>
        </div>
        <div class='description' ng-show='visible'>
            <p ng-click='toggleEditor(); toggleDescription()'>{{ tripDescription }}</p>
<!--            <i ng-click='toggleDescription()' class="fa fa-pencil-square-o"></i>-->
        </div>
<!--
        <div class='map'>
            <img src='http://www2.wpro.who.int/internet/files/eha/toolkit/web/Country%20Profiles/New%20Zealand/Southern%20New%20Zealand.JPG' />
        </div>
-->
    </div>
    
    <div class='photoBox'>
        <h3>Photo Gallery</h3>
        <div class='photo-adder'>
            <input type='text' placeholder="Enter url..." ng-model='picUrl'/>
        </div>
        <a href='' ng-click='addPic()'>ADD PHOTO</a>
<!--        <input ng-model="file" type="file"></input>-->
        
        <div class='gallery'>
            <a ng-repeat='pic in pics' href="{{ pic.src }}"><img ng-src='{{ pic.src }}' width="75" height="70"></a>  
        </div>
    </div>
    
</div>



<!--
<div class='dash-wrapper'>
    <div class="description-wrapper">
        <div class='upload' ng-hide='visible'>
        <textarea rows="4" cols="50" type='text' placeholder="Write a little something about your trip..." ng-model='tripDescription'>   </textarea>
        <br>
        <a ng-click='addDescription(); toggleDescription()' href='#'>ADD DESCRIPTION</a>
        </div>
        <div class='description' ng-show='visible'>
            <p>{{ tripDescription }}</p>
            <a ng-click='toggleDescription()'><h6><i class="fa fa-pencil-square-o"></i>Edit description</h6></a>
        </div>
    </div>
</div>
-->

